.logo_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary_color);
}
.logo_wrapper:hover{
    color: var(--bg_color);
}
.logo{
    width: 52px;
    height: auto;
}
.logo_wrapper h2{
    font-size: 28px;
    line-height: 24px;
}

@media screen and (max-width: 689px) {
    .logo_wrapper h2{
        font-size: 26px;
        line-height: 22px;
    }
}