.breadcrumb_wrapper{
    background-color: #f5f5f5;
    padding: 40px 30px 20px;
    text-align: center;
}
.breadcrumb_navigation_wrapper ul{
    display: flex;
    justify-content: center;

}
.breadcrumb_navigation_wrapper ul li{
    font-family: "Merriweather", serif;
    font-style: italic; 
}

.breadcrumb_navigation_wrapper ul li:last-child{
    padding: 0 5px;

}
.breadcrumb_navigation_wrapper ul li:not(:last-child)::after{
    content: '>>';
    padding: 0 5px;
    color: rgba(170, 170, 170, 0.664);
}