
.service_details_wrapper{
    padding: 20px 0 0;
}

.extra_services_wrapper{
    padding: 0 30px 30px;
}
.extra_services_wrapper ul li::before{
    background-color: var(--dav__secondary_color);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin-bottom: 2px;
    margin-left: -1em;
    margin-right: 10px;
    width: 8px;
}