.team_section {
  background-color: #fff;
  padding: 30px!important;
}
.team_member_wrapper {
  padding: 0 10px !important;
  justify-content: space-between;
}

@media screen and (max-width: 689px) {
  .team_member_wrapper {
    padding: 0 10px !important;
  }
}
