.team_section {
  background-color: #ffffff;
  width: 100%;
  padding: 0 !important;
}
.team_member_wrapper {
  padding: 20px 30px !important;
  justify-content: space-between;
}

@media screen and (max-width: 689px) {
  .team_member_wrapper {
    padding: 0 10px !important;
  }
}
